{% extends 'blog/base.html' %}

{% block content %}
    <body>

        <h1>Curriculum Vitae</h1>

    
        <h2>Personal Details
            
            <a id="personalDetails_edit" class="btn btn-default" href="{% url 'personalDetails_edit'%}"><span class="glyphicon glyphicon-pencil"></span></a>
        </h2>
        <p id="firstName">First name: {{ personalDetails.firstName }}</p>
        <p id="lastName">Last name: {{ personalDetails.lastNname }}</p>
        <p id="date_of_birth">Date of birth: {{ personalDetails.date_of_birth }}</p>
        <p id="address">Address: {{ personalDetails.address }}</p>
        <p id="email_address">Email Address: <a href="mailto: {{ personalDetails.email_address }}">{{ personalDetails.email_address }}</a></p>

        <h2>Education
            
                <a id="education_new" class="btn btn-default" href="{% url 'education_new' %}"><span class="glyphicon glyphicon-plus"></span></a>
         
        </h2>
        {% for e in education %}
            <h4>{{ e.institution }} (Start: {{ e.start_date }}, End: {{ e.end_date }})
            
                <a id="education_edit{{ forloop.counter }}" class="btn btn-default" href="{% url 'education_edit' pk=q.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                <a id="education_remove{{ forloop.counter }}" class="btn btn-default" href="{% url 'education_remove' pk=q.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
           
            </h4>
            <p>{{ e.grades|linebreaks }}</p>
        {% endfor %}

        <h2>Experience
            
                <a class="btn btn-default" href="{% url 'exp_new' %}"><span class="glyphicon glyphicon-plus"></span></a>
            
        </h2>
        {% for e in exp %}
            <h4>{{ e.company }} (Start: {{ e.start_date }}, End: {{ e.end_date }})
                
                    <a class="btn btn-default" href="{% url 'exp_edit' pk=e.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a class="btn btn-default" href="{% url 'exp_remove' pk=e.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
               
            </h4>
            <p>{{ e.description|linebreaks }}</p>

        {% endfor %}

        <h2>Interests
            
                <a class="btn btn-default" href="{% url 'interests_new' %}"><span class="glyphicon glyphicon-plus"></span></a>
            
        </h2>
        
            <h4>
                <p id="description">Interests: {{ Interests.description }}</p>
                
                
                    <a class="btn btn-default" href="{% url 'interests_edit' %}"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a class="btn btn-default" href="{% url 'interests_remove' %}"><span class="glyphicon glyphicon-remove"></span></a>
                
            </h4>
            
        

    </body>
{% endblock %}